#root {
   width: 100%;
 margin-inline: auto;
    max-width: 1024px;
}

.list {
    list-style-type: none;
    display: flex;
}

.list > li {
    margin-right: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.list-item {
    background: lightblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.leaderboard{
    width: 100vw;
}